html{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
*{
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 60px;
}
main{
    display: flex;
    background-color: white;
    height: 100vh;

}
input {
    height: 100px;
}
.side-bar{
    display: flex;
    height: 100%;
    width: 17%;
    background-color: white;
    /* overflow-y: hidden; */
}
@media screen and (max-width: 768px) {
    .side-bar{
        display: none;
    }
    .search input{
        display: none;
    }
    .play{
        display: grid;
    }
}


@media screen and (max-width: 1050px) {
    .search input{
        width: 30px;
    }
}
.nav{
    width: 100%; display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    color:black;
}
.left-icon{
    display: flex;
    align-items: center;
}
.center-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 20px;
}
.nav-link{
    padding: 10px;
}
.content{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 50px;
    padding-left: 20px;
    gap: 3rem
}
.search{
    display: flex;
}
.search input{
    width: 400px;height: 100%; border: 0; border-radius: 15px;
    padding: 10px;
}
.search form{
    border: 1px solid black;
    height: 40px;
    border-radius: 15px;
}
input:focus {
    outline: none;
    border: 1px solid#ddd;
}
.search button{
    height: 80%;width: 70px; border-radius: 0 15px 15px 0;border: none; background-color: transparent;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link span{
    margin-left: 15px;
}
.nav-link hover{
    cursor: pointer;
    background: #e5e5e5;
}
.active{
    background: #e5e5e5;
    border-radius: 5px;
}
hr{
    height: 1px;
    border: none;
    background-color: black;
}
.play{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pause{
    width: 250px;
    margin-bottom: 30px;
}
.stop{
    width: 100%;
    height: 160px;
    position: relative;
}
.stop img{
    object-fit: cover;
    height: 94%;
    width: 100%;
}
.holder img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
h3{
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 6px;
}
.replay{
    display: flex;
}
.hold{
    display: flex;
    flex-direction: column;
}
.hold a,
span{
    text-decoration: none;
    font-size: 12px;
}
.fan{
    width: 35px;
    height: 30px;
    position: absolute;
    left: 45%;
    top: 40%;
    cursor: pointer;
    border: none;
}